<div class="row">
    <div class="col-sm-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <!-- <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#"></a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul> -->
            <!-- <div class="col-sm-"> -->
                <div ngbDropdown class="">
                    <button class="btn btn-primary" ngbDropdownToggle>Manage Recipe</button>
                    <div ngbDropdownMenu>
                        <button ngbDropdownItem>To Shopping List</button>
                        <button ngbDropdownItem>Edit Recipe</button>
                        <button ngbDropdownItem>Delete Recipe</button>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ingredients
    </div>
</div>